<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: About Component Html - about.html
-->

<!--Main Content-->
<main class="container">
    <div class="text-center" style="background-color: rgb(44, 44, 44); box-shadow: 5px 5px 15px black; margin-bottom: 210px;">
        <!--Title-->
        <p class="titles">Xtreme Dynamos</p> 
        <hr> 
        

        <!--Description and Image-->
    <table>
        <tr>
            <td style="padding-left: 70px; padding-right: 30px;">
                <div class="text-center">
                    <img src="../../assets/images/XtremeLogoWhite.png" style="width: 50%;" alt="Logo">
                </div> 
            </td>

                <!-- About Us Content -->
            <td>
                <p style="text-align: justify; padding-right: 100px;">Hello! We are an company called "Xtreme Dynamos!" 
                    This website that you are currently on is a survey-based 
                    website where you can create, view, share your own survey!</p>
            </td>
        </tr>
    </table>
    </div>
</main>
