<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: About Component Html - about.html
-->

<!--Main Content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-2"></h1>
        <div class="container">
            <div class="text-center">
                
                <!--Title-->
                <h1>Xtreme Dynamos</h1> 
                <hr> 
              </div>

              <!--Description and Image-->
            <table>
                <tr>
                    <td style="padding-left: 200px; padding-right: 30px;">
                        <div class="text-center">
                            <img src="../../assets/images/XtremeLogo2.png" alt="Logo">
                        </div> 
                    </td>

                     <!-- About Us Content -->
                    <td>
                        <p style="text-align: justify; padding-right: 200px;">Hello! We are an company called "Xtreme Dynamos!" 
                            This website that you are currently on is a survey-based 
                            website where you can create, view, share your own survey!</p>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</main>