<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Survey Table Component Html - survey-table.component.html
-->

<main class="container" style="padding-bottom: auto; margin-bottom: auto;">
  <div style="background-color: rgb(44, 44, 44); box-shadow: 5px 5px 15px black; margin: 10px; padding: 10px">
  <!--Title-->
  <p class="titles">Previously Created Surveys</p>
  <br>
  <table class="table table-responsive">
    <tbody>
      <tr *ngIf='getSurveys().length == 0'>
        <td colspan="5">There are no surveys</td>
      </tr>
      <!--Conditionary Survey List-->
      <ng-template ngFor let-s [ngForOf]='getSurveys()'>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th colspan="2">Description</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
          <td>{{ s.title }}</td>
          <td>{{s.category}}</td>
          <td>{{s.description}}</td>
        
          <!--Delete Button-->
          <button class="btn btn-danger m-1" (click)='delete(s._id)'>
            <i class="fas fa-trash-alt"></i> Delete </button>

            <!--Stats Button-->
            <button class="btn btn-success m-1" (click)='stats(s._id)'>
              <i class="fas fa-info-circle"></i> Stats</button>

            <!-- Edit Button -->
            <button class="btn btn-warning m-1" (click)='editSurvey(s)'>
              <i class="fas fa-exchange-alt"></i> Edit</button>

              <button class="btn btn-info m-1"
              (click)='selectSurvey(s._id)'>
              <i class="fas fa-question-circle"></i> See Full Survey
            </button>
      </ng-template>
    </tbody>
  </table> 
</div>

  <!--Create a survey Button-->
  <div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-secondary" routerLink="/admin/main/dashboard">
      <i class="fas fa-undo"></i> Back To Dashboard
    </button>
  </div>
</main>