<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Stats Table Component Html - stats-table.component.html
-->

<main>
    <div style="background-color: rgb(44, 44, 44); box-shadow: 5px 5px 15px black; margin: 10px; padding: 10px">
    <p class="titles">Statistic</p>
        <div class="container">

            <!--Exported Tabled-->
            <table class="table table-sm" #statisticTable>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Number Of Respondents:    {{numberAnsweredSurveys}}
                        </th>
                        <th scope="col">
                            Choice 1
                        </th>
                        <th scope="col">
                            Choice 2
                        </th>
                        <th scope="col">
                            Choice 3
                        </th>
                        <th scope="col">
                            Choice 4
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let line of survey.questionnaire.lines'>
                        <td >{{line.question.title}}</td>
                        <td>
                            <div>{{getChoice1(line.question.title)}}</div>
                        </td>
                        <td>
                            <div>{{getChoice2(line.question.title)}}</div>
                        </td>
                        <td>
                            <div>{{getChoice3(line.question.title)}}</div>
                        </td>               
                        <td>
                            <div>{{getChoice4(line.question.title)}}</div>
                        </td>  
                    </tr>
                </tbody>
            </table>

        <!--Buttons-->
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-secondary" routerLink="/admin/main/surveys">
                <i class="fas fa-undo"></i> Back
            </button>

            <button class="btn btn-success" (click)='exportElmToExcel()'>
                <i class="fas fa-file-export"></i> Export To Excel
            </button>
        </div>
    </div>
</div>  
</main>
