<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Survey Editor Component Html - survey-editor.component.html
-->
<main class="container" style="padding-bottom: auto; margin-bottom:auto">
    <div class="container" style="background-color: rgb(44, 44, 44); box-shadow: 5px 5px 15px black; padding-bottom: 10px;">

    <!--Conditional Title-->
    <div *ngIf='surveySent' class="m-2 text-center">
        <h2>Thanks!</h2>
        <p>Thanks for creating a survey.</p>
        <button class="btn btn-success" (click)='surveyList()'>Return to Dashboard!</button>
    </div>

    <!--Conditional Title-->
    <div *ngIf='!surveySent'>
        <p class="titles" style="padding-top: 30px;">Add Survey</p>

        <!--Form-->
        <form novalidate #form='ngForm' (ngSubmit)='submitSurvey(form)'>
            <!--Survey Title-->
            <div class="form-group">
                <label>Survey Title</label>
                <input  type="text" class="form-control" name='title' [(ngModel)]='survey.title'>
            </div>

            <!--Category-->
            <div class="form-group">
                <label>Category</label>
                <input type="text" class="form-control" name='category' [(ngModel)]='survey.category'>
            </div>

            <!--Description-->
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name='description' [(ngModel)]='survey.description'>
            </div>

            <!--Activating Date-->
            <div class="form-group">
                <label>Activating Date: 
                    <input type="date" class="form-control" name='activatesIn' [(ngModel)]='survey.activatesIn'>
                </label>
            </div>

            <!--Deactivating Date-->
            <div class="form-group">
                <label>Deactivating Date: 
                    <input type="date" class="form-control" name='deactivatesIn' [(ngModel)]='survey.deactivatesIn'>
                </label>
            </div>

            <!--Buttons-->
            <div style="text-align: center;">
                <!--Create Survey Button-->
                <button class="btn btn-success m-1" type="submit">
                    <i class="fas fa-check-square"></i> Create Survey
                </button>

                <!--Add Question Button-->
                <button class="btn btn-primary m-1" routerLink='/admin/main/questions'>
                    <i class="fas fa-plus-circle">  Add Question(s) </i> 
                </button>

                <!--Cancel Button-->
                <button class="btn btn-secondary m-1" routerLink='/admin/main/dashboard'>
                    <i class="fas fa-undo"> Cancel </i>
                </button>
            </div>
        </form>

        <!--Conditional Section IF No Surveys-->
        <div *ngIf='questionnaire.lines.length == 0' style="text-align: center;">
            <label class="text-center" colspan="4">No questions in this survey</label>
        </div> 

        <!--Repeating section for questions-->
        <div *ngFor='let line of questionnaire.lines' style="padding-left: 30px">
            <label> {{ line.question.title }} </label><br>
            <ul>
                <li><label class="text-right">{{ line.question.choice1 }}</label></li>
                <li><label class="text-right">{{ line.question.choice2 }}</label></li>
                <li><label class="text-right">{{ line.question.choice3 }}</label></li>
                <li><label class="text-right">{{ line.question.choice4 }}</label></li>
            </ul>

            <!--Remove Button-->
            <button class="btn btn-sm btn-danger"
                    (click)='questionnaire.removeLine(line.question._id)'>
                    Remove
            </button> 
        </div> 
    </div>

     

            
