<div class="bg-primary p-2 text-white"
    [class.bg-warning]='editing'
    [class.text-dark]='editing'>
    <h5>{{ editing ? 'Edit' : 'Add' }} Question</h5>
</div>
<form novalidate #form='ngForm' (ngSubmit)='save(form)'>

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name='title' [(ngModel)]='question.title'>
    </div>

    <div class="form-group">
        <label>Right Answer</label>
        <input type="text" class="form-control" name='rightAnswer' [(ngModel)]='question.rightAnswer'>
    </div>

    <button class="btn btn-primary m-1" [class.btn-warning]='editing' type="submit">
        <i class="{{editing ? 'fas fa-save' : 'fas fa-plus-circle'}}"></i> {{ editing ? "Save" : "Add" }}
    </button>
    <button type='reset' class="btn btn-secondary" routerLink='/admin/main'>
        <i class="fas fa-undo"></i> Cancel
    </button>
</form>