<!--
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Question Table Edit Component Html - question-table-edit.component.html
-->

<main class="container" style="margin-bottom: auto; padding-bottom: auto;">
    <div class="container" style="background-color: rgb(44, 44, 44); box-shadow: 5px 5px 15px black; padding-bottom: 10px;">
    <!--Title-->
    <p class="titles">Question List</p>


<!--Table-->
<table class="table table-sm">
    <thead>
        <tr>
            <th>Title</th>
            <th colspan="4">Choices</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Questions-->
        <tr *ngFor='let q of getQuestions()'>
            <td>{{ q.title }}</td>
            <td>{{ q.choice1 }}</td>
            <td>{{ q.choice2 }}</td>
            <td>{{ q.choice3 }}</td>
            <td>{{ q.choice4 }}</td>

            <!--Buttons-->
            <td>
                <button class="btn btn-sm btn-primary m-1" (click)='editQuestion(q._id)'> 
                    <i class="fas fa-pencil-alt"></i> Edit
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger m-1" (click)='deleteQuestion(q._id)'>
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </td>
            <td>
                <button class="btn btn-success btn-sm float-right"
                (click)='addQuestionToQuestionnaire(q, survey)'>
                    Add To Survey
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--Create New Question Button-->
<div style="text-align: center;">
<button class="btn btn-primary" routerLink='/admin/main/page-edit/add'>
    <i class="fas fa-plus-circle"></i> Create a Question
</button>

<!--Back Button-->
<button class="btn btn-secondary m-1" (click)='returnToEditSurvey(survey._id)'>
    <i class="fas fa-undo"></i> Back
</button>
</div>
    </div>
</main>