<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Right Answer</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let q of getQuestions()'>
            <td>{{ q.title }}</td>
            <td>{{ q.rightAnswer }}</td>
            <td>
                <button class="btn btn-sm btn-primary m-1" (click)='editQuestion(q._id)'> 
                    <i class="fas fa-pencil-alt"></i> Edit
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger m-1" (click)='deleteQuestion(q._id)'>
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </td>
            <td>
                <button class="btn btn-success btn-sm float-right"
                (click)='addQuestionToQuestionnaire(q)'>
                    Add To Survey
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)='addQuestion()'>
    <i class="fas fa-plus-circle"></i> Create a Question
</button>
