<div class="container-fluid">
    <div class="row">

        <!--Authors-->
        <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" 
            (click)='changeName()'>
              All Names
            </button>
            <button *ngFor='let name of names'
              class="btn btn-outline-primary btn-block"
              [class.active] = 'name == selectedName' (click)='changeName(name)'>
              {{ name }}
            </button>
          </div>
          
          <!--Books-->
        <div class="col-9 p-2">
            <div *ngFor='let order of orders' class="card m-1 p-1 bg-light">
                <h4>
                    {{ order.name }}
                    <span class="badge rounded-pill bg-primary">
                        {{ order.city }}
                    </span>
                </h4>
                <div class="card-text bg-white p-1">{{ order.province }}
                    <button class="btn btn-success btn-sm float-right"
                    (click)='addBookToCart(order._id)'>
                        Select Order
                    </button>
                </div>
            </div>

            <div class="form-inline float-left mr-1">
                <select class="form-control" [value]='booksPerPage' (change)='changePageSize($any($event.target).value)'>
                    <option value="3">3 per page</option>
                    <option value="4">4 per page</option>
                    <option value="6">6 per page</option>
                    <option value="8">8 per page</option>
                </select>
            </div> 

            <div class="btn-group float-right">
                <button *counter='let page of pageCount' (click)='changePage(page)'
                    class="btn btn-outline-primary"
                [class.active]='page == selectedPage'>
                {{ page }}
                </button>
            </div>
        </div>
    </div>
</div>
