/*
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Main app Css File - style.css
*/

/*HTML TAGS*/
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #2f2f2f;
}
body
{
    background-color: #121212;
    color: white;
}

p {
    font-size: medium;
}

table {
    margin:auto;
}

td {
    padding: 20px;
    color: white;
}

ul {
    text-align: left;
}

th
{
    color: white;
}

/*CLASSES*/
.button-container{
    display: inline-block;
    position: relative;
    
}

.button-container a{
    position: absolute;
    bottom: 1em;
    right: 3em;
    border-radius: 1.5em;
    color: black;
    text-transform: uppercase;
    padding: 1em 1.5em;
}

.bannerImageContainer {
    position:relative;
    text-align: center;
    font-size: 45px;
    color: black;
}

.card-text {
    padding-left: 10px; 
    padding-right: 10px; 
    text-align: justify;
    color: white;
    
}


.card 
{
    background-color: #121212;
}

.center {
    display: block;
    margin-top: 10px; 
    margin-bottom:10px; 
    margin-left: auto;
    margin-right: auto;
    border-color: black; 
    border-width: 2px; 
    border-style: solid;
    width: 250px;
    color: white;
}

.centerForm {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: black; 
    border-width: 2px; 
    border-style: solid;
    width: 700px;
}

.contactAdd {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
}

.contactForm {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	float: left;
	clear: left;
	display: block;
	width: 200px;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	padding-left: 50px;

}

.nav-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resumeButton {
    text-align: center;
}

.secondaryTitles {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.titles {
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/*IDs*/
#aboutMe {
    font-size: 20px;
    text-align: justify;
}

#resetBtn {
    padding: 6px; 
}

#submitBtn {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 6px;
}